 body {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    /*background-color: #f8fafc;*/
    background-color: #fafcfe;
}

img {
    border-radius:5px;
}

.gallerie {
    height:200px
}

.md-content {
    margin-bottom: 300px;
}

.md-footer__title {
    flex-grow: 1;
    font-size: .6rem;
    line-height: 2.4rem;
    max-width: calc(100% - 2.4rem);
    padding: 0 1rem;
    position: relative;
}

.md-icon svg {
    fill: currentcolor;
    display: block;
    height: 1rem;
    width: 1rem;
}

.md-copyright {
    display:none;
}

@media screen and (min-width: 60em)
.md-search__input {
    color: inherit;
    font-size: .6rem;
}
.md-search__input {
    background: transparent;
    font-size: .6rem;
    height: 100%;
    position: relative;
    text-overflow: ellipsis;
    width: 100%;
    z-index: 2;
}

.md-typeset table:not([class]) {
    background-color: #f8fafc;
    border: 0rem solid var(--md-typeset-table-color);
    border-radius: 0.1rem;
    display: inline-block;
    font-size: .64rem;
    max-width: 100%;
    overflow: auto;
    touch-action: auto;
}

.md-typeset table:not([class]) td {
    border-top: 0rem solid var(--md-typeset-table-color);
    padding: 0.9375em 1.25em;
    vertical-align: top;
}

.md-banner__inner {
    font-size: .7rem;
    margin: 0rem auto;
    padding: 0 0.8rem;
}

[dir=ltr] .md-header__title {
    margin-left: 0rem;
}

/* annonce */
.md-announce {
    background-color: #ffffff;
}

.announce {
    background-color: #FBD825;
    border-color: #EFCE1D;
    overflow: auto;
    padding:10px;
    text-align: center;
    border-radius:4px;    
    color: #d9534f;
    font-size: .7rem;
    margin: 1rem auto;
}

/* annonce */

.md-header[data-md-state=shadow] {
    box-shadow: 0 0 0 rgb(0 0 0 / 10%), 0 0 0 rgb(0 0 0 / 20%);
    transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
}

.md-header {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
}

.md-search__form {
    background-color: rgba(0,0,0,.4);
    border-radius: .2rem;
}

.md-typeset code {
    background-color: var(--md-code-bg-color);
    border-radius: 8px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: 90%;
    color: #f66d9b;
    word-break: break-word;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.ndc {
    font-size: 90%;
    color: #2c3e50;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.2rem;
    font-weight: 300;
    line-height: 1.2;
}

.md-typeset h1 {
    color: #227dc7;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;    
}


.md-typeset h2 {
    color: #227dc7;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;    
}

.md-typeset h3 {
    color:#4c9ce5;
    font-size:0.7rem;
    line-height: 1.2rem;
    font-weight: 600;    
}


.md-typeset {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-size: .7rem;
    line-height: 1.6;
}

.md-typeset a {
    /*color: var(--md-typeset-a-color);*/
    color:#3498db;
    word-break: break-word;
}

.md-typeset a:hover {
    text-decoration: underline;
}

.md-typeset .md-button--primary {
    /*background-color: var(--md-primary-fg-color);*/
    /*border-color: var(--md-primary-fg-color);*/
    /*color: var(--md-primary-bg-color);*/
    background-color: #27ae60;
    border-color: #27ae60;
    color: white;
}

.md-typeset blockquote {
    color:#2c3e50;
}

p {
    text-align:justify;
}

.md-nav {
    font-size: .6rem;
    line-height: 1.2;
}

.md-nav__link {
    line-height: 0.7rem;
    border-left:4px solid #fafcfe;
    padding-left:5px;
    margin:10px 0px 0px 0px;
}

.md-nav__link--active {
    border-left:4px solid #227dc7;
    padding-left:5px !important;
}

nav__list>.md-nav__item--active .md-nav--secondary {
    border-left: 0rem solidvar(--md-primary-fg-color) !important;
}

.md-nav__item .md-nav__link--active {
    color: black !important;
}

.md-tabs__link {
    font-size: .65rem !important;
}
